# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Файлы данных
users.json
messages.json
uploads/*

# Сертификаты (не публикуем)
cert.pem
key.pem

# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи и временные файлы
*.log
*.tmp
.DS_Store
